@page "/"

<div class="card">

    <div class="card-header" style="background: #324A5F">
        <h1 style="color:white">Segundo Parcial de Aplicada 2</h1>
    </div>

    <div class="card-body">
        <div class="alert alert-secondary mt-4" role="alert">
            <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
            <strong>Bienvenidos a mi segundo parcial, el cual trata sobre un registro de cobros.</strong>
        </div>
    </div>

    <div class="card-footer">
        <h6 style="text-align:right">Hecho por Anneury Sosa. <br> Matricula: 2018-0906.</h6>
    </div>
</div>


